{{#> main }}
<h1>CIP {{cip.data.CIP}} - {{cip.data.Title}}</h1>
<div id='toc_container'>
  <p class='toc_title'>Contents</p>
  {{> table-of-contents items=cip.tableOfContents}}
</div>
{{{cip.html}}}
{{/main}}