<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <a href="/" class="brand">
      <img class="logo" src="/assets/images/logo.svg" />
      <h1>Cardano Improvement Proposals</h1>
    </a>
    <ul>
      {{#each headerData as |headerLink|}}
        <li><a href='{{headerLink.path}}'><button>{{headerLink.label}}</button></a></li>
      {{/each}}
    </ul>
  </header>
  <hr />
  <div class="content">
    {{> @partial-block }}
  </div>
  <hr />
</body>
</html>