{{#if items.length}}
  <ul>
    {{#each items as |item|}}
      <li>
        <a href='#{{item.id}}'>{{item.label}}</a>
        {{> table-of-contents items=item.children }}
      </li>
    {{/each}}
  </ul>
{{/if}}